header{
    background-color: rgba(25, 8, 125, 0.468);
    color: rgb(27, 9, 188);
    text-align: center;
}

main{
    background-color: rgb(18, 8, 93);
    color: rgb(51, 84, 202);
    text-align: center;
}